body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  letter-spacing: 1px;
}

html {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding-bottom: 80px;
}

/* ================= HEADER ================= */
header {
  background-color: #19a8e3;
}

h1 {
  padding: 20px;
  font-size: 25px;
}

.header {
  display: flex;
  justify-content: space-around;
}

.flex {
  display: flex;
}

.main-list {
  padding: 20px;
  font-size: 19px;
}

.main-link:hover {
  background-color: rgb(21, 2, 79);
  box-shadow: 0 0 5px rgb(21, 2, 79);
  border-radius: 5px;
}

/* ================= HERO SECTION ================= */
.hero-section {
  min-height: calc(100vh - 160px);
  display: flex;
  align-items: center;        
  justify-content: space-between;
  gap: 50px;
  padding: 0 120px;
}

.hero-text {
  width: 50%;
  color: #000;
}

.hero-text h2 {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #000;
}

.hero-text p {
  font-size: 22px;
  color: #444;
  margin-bottom: 30px;
}

.hero-btn {
  display: inline-block;
  padding: 14px 35px;
  background-color: #19a8e3;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: rgb(21, 2, 79);
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.hero-img {
  width: 45%;
  max-height: 70vh;
  object-fit: cover;
  border-radius: 15px;
}

.hero-text,
.hero-text h2,
.hero-text p,
.hero-btn {
  font-family: "Poppins", sans-serif;
}

/* ================= FOOTER ================= */
footer {
  background-color: #19a8e3;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}